doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/gumby.css')
	body
		block content
		script(src='/js/main.js')
		script(src='/bower_components/gumby/js/main.js')
		script(src='/bower_components/gumby/js/plugins.js')
		script(src="/bower_components/gumby/js/libs/gumby.js" gumby-touch="/bower_components/gumby/js/libs")
		script(src="/bower_components/gumby/js/libs/ui/gumby.retina.js")
		script(src="/bower_components/gumby/js/libs/ui/gumby.fixed.js")
		script(src="/bower_components/gumby/js/libs/ui/gumby.skiplink.js")
		script(src="/bower_components/gumby/js/libs/ui/gumby.toggleswitch.js")
		script(src="/bower_components/gumby/js/libs/ui/gumby.checkbox.js")
		script(src="/bower_components/gumby/js/libs/ui/gumby.radiobtn.js")
		script(src="/bower_components/gumby/js/libs/ui/gumby.tabs.js")
		script(src="/bower_components/gumby/js/libs/ui/gumby.navbar.js")
		script(src="/bower_components/gumby/js/libs/ui/jquery.validation.js")
		script(src="/bower_components/gumby/js/libs/gumby.init.js")
		script(src='/bower_components/d3/d3.min.js')
		script(src='/bower_components/jquery/jquery.min.js')
		script(src='/bower_components/modernizr/modernizr.js')
		script(src='/socket.io/socket.io.js')